@import "fonts";
@import "mixins";
@import "variables";

* { box-sizing: border-box }

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: museo-sans-rounded, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
}

h1, h2, h3, p {
  margin: 0;
}

h3 {
  @include fontSize(22);
}

p {
  @include fontSize(16);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $container-width;
}