@font-face {
  font-family: 'tragic-marker';
  src: url('assets/fonts/TragicMarker/tragicmarker-webfont.ttf') format("opentype"),
  url('assets/fonts/TragicMarker/tragicmarker-webfont.woff2') format('woff2'),
  url('assets/fonts/TragicMarker/tragicmarker-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-sans-rounded';
  src: url('assets/fonts/MuseoSansRounded/museosans_500-webfont.ttf') format("opentype"),
  url('assets/fonts/MuseoSansRounded/museosans_500-webfont.woff2') format('woff2'),
  url('assets/fonts/MuseoSansRounded/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}